elasticsearch-data/
grafana-data/grafana.db
grafana-data/alerting/1/__default__.tmpl
.gitignore
metricbeat-data/
deployments/inventory
.gitignore
deployments/ansible.cfg
grafana-data/plugins/grafana-github-datasource/plugin.json
grafana-data/plugins/grafana-github-datasource/module.js.map
grafana-data/plugins/grafana-github-datasource/CHANGELOG.md
grafana-data/plugins/grafana-github-datasource/dashboards/dashboard.json
grafana-data/plugins/grafana-github-datasource/gfx_github_linux_amd64
grafana-data/plugins/grafana-github-datasource/dashboards/Github projects-1667481831135.json
grafana-data/plugins/grafana-github-datasource/img/github.svg
.github/workflows/intergrate.yml
grafana-data/plugins/grafana-github-datasource/LICENSE
grafana-data/plugins/grafana-github-datasource/MANIFEST.txt
grafana-data/plugins/grafana-github-datasource/module.js
grafana-data/plugins/grafana-github-datasource/README.md
.env
config/config.yml
grafana-data/plugins/grafana-piechart-panel/dark.js
grafana-data/plugins/grafana-piechart-panel/dark.js.map
grafana-data/plugins/grafana-piechart-panel/editor.html
grafana-data/plugins/grafana-piechart-panel/LICENSE
grafana-data/plugins/grafana-piechart-panel/light.js
grafana-data/plugins/grafana-piechart-panel/light.js.map
grafana-data/plugins/grafana-piechart-panel/MANIFEST.txt
grafana-data/plugins/grafana-piechart-panel/module.html
grafana-data/plugins/grafana-piechart-panel/module.js
grafana-data/plugins/grafana-piechart-panel/module.js.LICENSE.txt
grafana-data/plugins/grafana-piechart-panel/module.js.map
grafana-data/plugins/grafana-piechart-panel/plugin.json
grafana-data/plugins/grafana-piechart-panel/README.md
grafana-data/plugins/grafana-piechart-panel/img/piechart_logo_large.png
grafana-data/plugins/grafana-piechart-panel/img/piechart_logo_large.svg
grafana-data/plugins/grafana-piechart-panel/img/piechart_logo_small.png
grafana-data/plugins/grafana-piechart-panel/img/piechart_logo_small.svg
grafana-data/plugins/grafana-piechart-panel/img/piechart-donut.png
grafana-data/plugins/grafana-piechart-panel/img/piechart-legend-on-graph.png
grafana-data/plugins/grafana-piechart-panel/img/piechart-legend-rhs.png
grafana-data/plugins/grafana-piechart-panel/img/piechart-legend-under.png
grafana-data/plugins/grafana-piechart-panel/img/piechart-options.png
grafana-data/plugins/grafana-piechart-panel/styles/dark.css
grafana-data/plugins/grafana-piechart-panel/styles/light.css
/oncall_data
/redis_data