global:
  scrape_interval:     5s # By default, scrape targets every 15 seconds.
  evaluation_interval: 5s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'Apex-Migrations Lab'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - 'alert.rules.yml'

# alert
alerting:
  alertmanagers:
  - scheme: http
    static_configs:
      - targets: ['alertmanager:9093']

scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  ##############
  # Prometheus #
  ##############
  # Collects metrics about Prometheus
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['grafana.prometheus:9090']

  ###########
  # Traefik #
  ###########
  # Collects Traefik Metrics configured in the static traefik configuration
  - job_name: 'traefik'
    scrape_interval: 5s
    static_configs:
      - targets: ['traefik.rproxy:8082']

  ##################
  #  Node-Exporter #
  ##################
  # Collects metrics about Prometheus using Node-Exporter
  - job_name: 'pve01-server'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.120:9100']

  - job_name: 'pve02-server'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.100:9100']

  - job_name: 'pve03-server'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.190:9100']

  - job_name: 'nextcloud-vm'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.131:9100']

  - job_name: 'homeassistant-green'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.114:9100']

  - job_name: 'devops-vm'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.114:9100']

  - job_name: 'node01'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.143:9100']

  - job_name: 'node02'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.144:9100']

  - job_name: 'node03'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.2.145:9100']

  ############
  # Cadvisor #
  ############
  # # Collects info based on Cadvisor for containers
  # - job_name: 'grafana.cadvisor'
  #   scrape_interval: 5s
  #   metrics_path: '/metrics'
  #   static_configs:
  #     - targets: ['grafana.cadvisor:8080']

  # - job_name: 'proxmox.cadvisor'
  #   scrape_interval: 5s
  #   metrics_path: '/metrics'
  #   static_configs:
  #     - targets: ['proxmox.headscale.node:8090']

  # - job_name: 'nextcloud.cadvisor'
  #   scrape_interval: 5s
  #   metrics_path: '/metrics'
  #   static_configs:
  #     - targets: ['nextcloud.headscale.node:8090']

  # - job_name: 'pihole.cadvisor'
  #   scrape_interval: 5s
  #   metrics_path: '/metrics'
  #   static_configs:
  #     - targets: ['pihole.headscale.node:8080']

  # - job_name: 'vps.cadvisor'
  #   scrape_interval: 5s
  #   metrics_path: '/metrics'
  #   static_configs:
  #     - targets: ['dc-srv-01.apex-migrations.net:8080']
